# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# Debug files
*.pdb

# Tests
rtld-test-default
rtld-test-default.exe
rtld-test-default.pdb
